<p>
  <strong>Автор поста: </strong>
  <%= comment.commenter %>
</p>
<p>
  <strong>Комментарий:</strong>
  <%= comment.body %>
</p>

<% if (user_signed_in?) %>
    <% if (@post.user.email == current_user.email) || (comment.commenter == current_user.email) %>
        <p>
          <%= link_to 'Delete Comment', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'},
          :class => 'btn btn-danger btn-sm'%>
        </p>
    <% end %>
<% end %>