div.comment {
  width: 35%;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #999999;
  border-radius: 10px;
}
.comment-info{
  font-family: 'felt_tip_womanregular', Arial, sans-serif;
  font-size: 17px;
  text-align: right;
}
.create-date{
  padding-top: 5px;
}
.comment-date{
  float: right;
}

.comment-body{
  padding: 5px 10px;
  clear: both;
}

.comment-avatar{
  width: 100px;
  height: 100px;
  float: left;
}