@font-face {
  font-family: 'felt_tip_womanregular';
  src: font-url('felt_tip_woman-webfont.woff2') format('woff2'),
  font-url('felt_tip_woman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}